<%= form_tag channels_path, :method => 'get' do %>
  <div class="left">
    <%= select_tag "account_id", options_for_select(Service::Account.collection, params[:account_id]), prompt: "--- All account ---" %>
    <%= select_tag "status", options_for_select(Service::Channel::STATUSES, params[:status]), prompt: "--- All status ---" %>
    <%= text_field_tag 'number', params[:number], class: 'tel', placeholder: 'channel number', size: 13, maxlength: 13 %>
  </div>
  <div><%= submit_tag "Search", class: 'btn btn-primary btn-submit' %></div>
<% end %>

