<%= page_title_with "List of channels" %>
<%= action_bar "Channels" %>

<div class='header-bar'>
  <%= render 'search_form' %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Account</th>
      <th>Number</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <% index = 0 %>
  <% @channels.sort_by { |x| [x.status, -x.created_at.to_i] }.each do |channel| %>
    <% if channel.kind.downcase.include? Service::Channel::CHANNEL_VISIBLED %>
      <% clazz = channel.status == Service::Channel::STATUS_APPROVED ? 'success' : 'error' %>
      <tr class=<%= "#{clazz}" %>>
        <td><%= index + 1 %></td>
        <td><%= channel.account.email %></td>
        <td><%= channel.number %></td>
        <td><%= Time.parse(channel.created_at).to_string(Time::DISPLAY_FORMAT, "Bangkok") %></td>
        <td><%= channel.status == Service::Channel::STATUS_APPROVED ? Service::Channel::STATUS_APPROVED_DISPLAY : Service::Channel::STATUS_PENDING_DISPLAY %>
        <td class='action-2'>
          <% if channel.status == Service::Channel::STATUS_APPROVED %>
            <%= link_to Service::Channel::STATUS_PENDING_ACTION, deactivate_channel_path(channel), method: :put, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to Service::Channel::STATUS_APPROVED_ACTION, activate_channel_path(channel), method: :put, class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
      <% index += 1 %>
    <% end %>
  <% end %>

  <% if index == 0 %>
    <tr>
        <td colspan='6'><font class='error'>No record</font></td>
      </tr>
  <% end %>

</table>
