<%= page_title_with "Login" %>

<%= simple_form_for(@login_form, url: sessions_path,  html: {class: 'form-signin form-horizontal' }) do |f| %>
  <h3 class='title'> Please Sign in </h3>
  <%= f.input :endpoint, collection: Instance.all.map { |instance| [instance.name, instance.end_point] }, prompt: "Select Instance"  %>
  <%= f.input :email %>
  <%= f.input :password, autocomplete: 'off' %>
  
  <%= submit_row do %>
    <%= f.submit 'Login', class: 'btn btn-primary btn-submit' %>
  <% end %>

<% end %>
