<%= simple_form_for(@instance, html: {class: 'form-horizontal' }) do |form| %>
  <%= form.input :name, required: true %>
  <%= form.input :url, required: true, as: :url %>
  <%= form.input :end_point, required: true %>
  
  <%= submit_row do %>
    <%= form.submit "Save", class: 'btn btn-primary btn-submit' %>
  <% end %>
<% end %>
