<%= page_title_with "List of instances" %>
<%= action_bar "List of instances" do %>
  <%= new_button "New", new_instance_path() %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Url</th>
      <th>End point</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <% @instances.each_with_index do |instance, index| %>
  <tr>
    <td><%= link_to page_index_for(@instances, index), edit_instance_path(instance) %></td>
    <td><%= instance.name %></td>
    <td><%= instance.url %></td>
    <td><%= instance.end_point %></td>
    <td class='action-2'>
        <%= edit_button 'Edit', edit_instance_path(instance),  class: 'btn btn-primary' %>
        <%= delete_button 'Delete', instance_path(instance), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this instance" } %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @instances, :theme => 'twitter-bootstrap' %>
