<% url = @quota.new_record? ? quotas_path() : quota_path(@quota) %>
<%= simple_form_for( @quota, url: url , html: {class: 'form-horizontal' }) do |form| %>

 <%= form.input :account_id, collection: Service::Account.collection ,
                             prompt: "--- Select account ---",
                             input_html: { id: 'account_id_field'}
                             %>

 <%= form.input :channel_id, collection: Service::Channel.collection(@quota.account_id) ,
                             prompt: "--- Select channel ---",
                             input_html: { id: 'channel_id_field'}

                             %>
 <%= form.input :channel_name, as: 'hidden', input_html: {id: 'channel_name_field'} %>
 <%= form.input :account_email, as: 'hidden', input_html: {id: 'account_email_field'} %>

 <%= form.input :total, label: 'Monthly quota (USD)' %>
 <%#= form.input :used %>
 <table>
 <tr>
  <td> <%= form.input :alert_email, label: 'Alert to email ' %></td>
  <td> <%= form.input :percentage_condition, 
                      label: 'when remaining quota less than (%)',
                      input_html: {style: 'width: 40px;'} %></td>
 </tr>
 </table>


 <%= form.input :block_if_reached, label: 'block channel when run out of quota' %>

 <%#= form.input :from_date, input_html: {class: 'datepicker'}, as: :string %>
 <%#= form.input :to_date, input_html: {class: 'datepicker'}, as: :string %>

 <%= form.input :enabled , label: 'Enable quota', as: :boolean %>

  <%= submit_row do %>
    <%= form.submit "Save", class: 'btn btn-primary btn-submit' %>
  <% end %>

<% end %>
