<%= page_title_with "List of Quotas" %>
<%= action_bar "List of Quotas" do %>
  <%= new_button "New", new_quota_path() %>
<% end %>

<table class="table table-striped">
  <thead>  
      <tr>
        <th>No</th>
        <th>Account</th>
        <th>Channel</th>
        <th>Total Quota</th>
        <th>Used Quota</th>
        <th>Alert Condition</th>
        <th>Alert email</th>

        <th>Over quota</th>
        <th>Enable Quota</th>
        <th>Channel Status</th>
        <th>Action</th>
      </tr>
  </thead>

  <tbody>
    <% @quotas.each_with_index do |quota, index| %>
      <tr>
        <td><%= link_to page_index_for(@quotas, index), edit_quota_path(quota) %></td>
        <td><%= quota.account_email%></td>
        <td><%= quota.channel_name%></td>
        <td><%= number_to_currency(quota.total, unit: '$', precision: 2) %></td>
        <td><%= number_to_currency(quota.used, unit: '$', precision: 2) %></td>
        <td><%= quota.percentage_condition%> % </td>

        <td class='td-expandable' title="<%= quota.alert_email %>" >
           <%= truncate(quota.alert_email, length: 30) %>
        </td>

        <td><%= quota.block_if_reached_as_text %></td>
        <td><%= quota.enabled_as_text %></td>
        <td><%= quota.blocked_as_text %></td>

        <td class='action-2'>
          <%= edit_button 'Edit', edit_quota_path(quota),  class: 'btn btn-primary' %>

          <%= delete_button 'Delete', quota_path(quota), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this quota" } %>
          <%#= edit_button 'Histories', quota_quota_histories_path(quota),  class: 'btn btn-primary' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @quotas, :theme => 'twitter-bootstrap' %>

