  <div style='margin-bottom: 30px;'>
    <%= link_to 'Today', '' , class: :btn, id: :traffic_today %>

    <div class="btn-group">
      <%= link_to "<span class='icon-chevron-left'> </span>".html_safe, '', class: 'btn', id: 'date-previous' %>
      <%= link_to "<span class='icon-chevron-right'> </span>".html_safe, '', class: 'btn', id: 'date-next' %>
    </div>

    <span style='margin-left: 10px;' id='date_text'> 
      <%=params[:start_date]%>,  
      <%=params[:end_date]%> 
    </span>

    <div class="btn-group" style="padding-left:10px;">
      <% 
        [
          {label: 'Day', data: {type: 'day'}},
          {label: 'Week', data: {type: 'week'}},
          {label: 'Month', data: {type:'month'}}
        ].each do |type|
          klass = type[:data][:type] == params[:type] ? 'btn btn-type active' : 'btn btn-type'
      %>
        <%= link_to type[:label], '', class: klass, data: type[:data] %>
      <% end %> 

      <%= link_to 'Custom Range', "#customRange", class: 'btn btn-custom-range' %>
    </div>

    <br/><br/>

    <div class="btn-group">
      <input type="checkbox" id="hide_no_traffic" class="w20 left" <%= @traffic == true ? 'checked' : '' %> />
      <label for="hide_no_traffic">Hide no traffic channel</label>
    </div>
  </div>
