<div id="customRange" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Custom Range</h3>
  </div>

  <div class="modal-body">
    <div class='alert alert-danger' id='custome-range-error' style='display:none;'> All fields are required </div>

    <form action='<%= traffics_path%>' method='get' id='form-traffic' class='simple_form form-horizontal'>
      <div class="control-group string required traffic_start_date">
        <label for="traffic_start_date" class="string required control-label">
          <abbr title="required">*</abbr> From date
        </label>
        <div class="controls">
          <input type="text" name="start_date" value='<%=params[:start_date]%>' 
                 id="traffic_start_date" class="string required datepicker">
        </div>
      </div>

      <div class="control-group string required traffic_end_date">
        <label for="traffic_end_date" class="string required control-label">
          <abbr title="required">*</abbr>To date
        </label>
        <div class="controls">
          <input type="text" name="end_date" value='<%=params[:end_date]%>' 
                 id="traffic_end_date" class="string required datepicker">
        </div>
      </div>

      <input type='hidden' name='type' value='<%= params[:type] %>' id='traffic_type' />
      <input type='hidden' name='traffic' value='<%= params[:no_traffic] %>' id='has_traffic' />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" id='custom-range-ok'>OK</button>
  </div>
</div>
