<table class="table table-striped">
  <thead>
    <tr></tr>
    <tr>
      <td colspan="2" class="align-right bold">Total:</td>
      <td class="align-center bold"><%= @headers[:incoming_call] %></td>
      <td class="align-center bold"><%= @headers[:outgoing_call] %></td>
      <td class="align-center bold"><%= number_with_precision(@headers[:incoming_call_duration], precision: 2) %></td>
      <td class="align-center bold"><%= number_with_precision(@headers[:outgoing_call_duration], precision: 2) %></td>
      <td></td>
    <tr>
      <tr>
        <th>Account</th>
        <th>Channel</th>
        <th># Incoming</th>
        <th># Outcoming</th>

        <th>Incoming(minutes)</th>
        <th>Outcoming(minutes)</th>
        <th>Detail</th>   
      </tr>
  </thead>

  <tbody>
    <% @records.each_with_index do |record, index| %>
      <tr>
        <td> <%= record.account_email %> </td>
        <td> <%= record.channel_name %>  </td>

        <td class="align-center"><%= record.incoming_call_count %></td>
        <td class="align-center"><%= record.outgoing_call_count %></td>

        <td class="align-center"><%= number_with_precision(record.incoming_call_duration, precision: 2) %></td>
        <td class="align-center"><%= number_with_precision(record.outgoing_call_duration, precision: 2) %></td>

        <td>
          <%= link_to 'Detail', billings_path(channel_id: record.channel_id,
                                              channel_name: record.channel_name,
                                              account_email: record.account_email,
                                              account_id: record.account_id,
                                              start_date: params[:start_date],
                                              end_date: params[:end_date],
                                              group: true) %>
        </td>

      </tr>
    <%end%>
  </tbody>
</table>
