<table class="table table-striped">
  <%= content_for(:table_head) %>
  
  <thead>
    <tr>
      <th>Address</th>
      <th class="align-center"># Incoming</th>
      <th class="align-center"># Outcoming</th>
      <th class="align-center">Incoming(minutes)</th>
      <th class="align-center">Outcoming(minutes)</th>
      <th class='align-center'>Incoming(USD)</th>
      <th class='align-center'>Outgoing(USD)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address, record| %>
      <%
        error_class = record.missing_rate? ? 'error' : ''
      %>
      <tr class="<%= error_class%>" title="missing call rate">
        <td> <%= record.address %> </td>
        <td class="align-center"><%= record.incoming_call_count %></td>
        <td class="align-center"><%= record.outgoing_call_count %></td>

        <td class="align-center"><%= number_with_precision(record.incoming_call_duration, precision: 2) %></td>
        <td class="align-center"><%= number_with_precision(record.outgoing_call_duration, precision: 2) %></td>

        <td class='align-center'><%= number_with_precision(record.incoming_amount, precision: 2) %></td>
        <td class='align-center'><%= number_with_precision(record.outgoing_amount, precision: 2) %></td>

        <td class='align-center'>
          <%= link_to 'Detail', billings_path(
            address: record.address,
            channel_id: record.channel_id,
            channel_name: params[:channel_name],
            account_email: record.account_email,
            account_id: record.account_id,
            start_date: params[:start_date],
            end_date: params[:end_date]) %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
