<thead>
  <tr>
    <td colspan='7' align='center'>
      <% if @billing.has_error? %>
      
        <%= link_to billings_path(params.merge(group: true, error: '1')), 
                    class: '' do %>
            <span class='error'> View addresses with no call rate. </span>
        <% end %>
      <% end %>  
    </td>
    <th >
      <% if !params[:address] %>
        Total : 
        <span class='<%= @billing.has_error? ? 'error' : '' %>'> 
          $ <%= number_to_currency(@billing.total, unit: '', precision: 2) %>
        </span>
      <% end %>
    </th>
  </tr>
</thead>
