<table class="table table-striped">
  <%= content_for(:table_head) %>

  <tr>  
      <tr>
        <th colspan='2'>Address</th>
        <th>Direction</th>
        <th>Duration</th>
        <th>Rate</th>
        <th>Round</th>
        <th>Date</th>
        <th>Cost</th>
      </tr>
  </tr>

  <tbody>
    <% @billing.calls.each do |call| %>
      <%
        error_class   = call.has_error? ? 'error' : ''
        error_message = call.has_error? ? '' : ''
      %>
      <% if has_error || call.call_log.address === params[:address] %>
        <tr class="<%= error_class%>" title="" >
          <td colspan='2'><%= call.call_log.address %></td>
          <td><%= call.call_log.direction %></td>
          <td><%= call.call_log.duration %></td>
          <td><%= call.rate %></td>
          <td><%= call.round_rate %></td>
          <td><%= call.call_log.called_at.to_time.to_string(Time::DISPLAY_FORMAT, "Bangkok") %></td>
          <td><%= number_with_precision(call.cost, precision: 2) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
