<%= simple_form_for :call_rate do |f| %> 

<table class="table table-striped">
  <thead>
    <tr>
      <td>Address</td>
      <td>Incoming Rate</td>
      <td>Outgoing Rate</td>
      <td>Prefix</td>
      <td>
        Round
        <%= hidden_field_tag :channel_id, params[:channel_id] %>
        <%= hidden_field_tag :channel_name, params[:channel_name] %>
        <%= hidden_field_tag :account_id, params[:account_id] %>
        <%= hidden_field_tag :account_email, params[:account_email] %>
        <%= hidden_field_tag :start_date, params[:start_date] %>
        <%= hidden_field_tag :end_date, params[:end_date] %>
        <%= hidden_field_tag :error, params[:error] %>
      </td>
    </tr>
  </thead>  

  <tbody>
    <% @call_rates.each_with_index do |call_rate,index| %>
      <% if call_rate.new_record? %>
          <%= simple_fields_for "call_rates[]", call_rate do |r| %>
          <tr >

            <td><%= r.object.address %></td>
            <td>
              <%= r.hidden_field 'address' %>
              <%= r.hidden_field 'account_email' %>
              <%= r.hidden_field 'account_id' %>
              <%= r.hidden_field 'channel_id' %>
              <%= r.hidden_field 'channel_name', class:'min-input' %>
              <%= r.input_field   'incoming_rate', class:'min-input' %>
            </td>

            <td>
              <%= r.input_field 'outgoing_rate', class:'min-input' %>
            </td>

            <td><%= r.input_field 'prefix', class:'min-input'  %></td>
            <td><%= r.input_field 'round_rate', class:'min-input'  %></td>
          </tr>
          <% end %>
      <% end %>    
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <td colspan='4'></td>
      <td><%= f.submit 'Save', class: 'btn btn-primary' %></td>
    </tr>
  </tfoot>
</table>
<% end %>
