<%= page_title_with "Detail-#{params[:channel_name]}" %> 

<ul style='list-style-type:none;margin:5px;padding:0px;'>
  <li>Account: <b> <%= params[:account_email] %> </b> </li>
  <li>Channel: <b> <%= params[:channel_name] %>  </b> </li>
</ul>

<div style='border-bottom: 1px dotted #ccc; font-size: 1.4em; padding: 10px;' > 
  Address with no call rate
</div>

<div class='well' style='margin-top:10px;'>
  <%= @addresses.map { |address, traffic| "<span class='address'>#{address}</span>" }.join(", ").html_safe %>
  . 
  <%= link_to 'Create Call Rate', new_call_rate_path(), target: "_blank" %>
</div>

<br>

<div style='font-size: 1.4em; padding: 10px;' > 
  Traffic detail
</div>
<%= render 'table_detail', has_error: true %>
