<%= page_title_with "Detail-#{params[:channel_name]}" %>
<div class='item-list dotted-elm clearfix'>
  <div style='float:left;'>
    Billing for
    <span>channel: </span>
    <%= params[:channel_name] %>,
    <span>from: </span>
    <%= params[:start_date] %>
    <span>to: </span> <%= params[:end_date] %>
  </div>

  <div style='float:right; margin-left: 20px; font-size: 16px;'>

   <% menu =  [ { direction: 'Outgoing', named: 'outgoing'},
                { direction: 'Incoming', named: 'incoming'},
                { direction: 'All',      named: nil} ].map do |d| %>
        <% if params[:direction] == d[:named] %>
          <% d[:direction] %>
        <% else %>
          <% link_to d[:direction], params.merge(direction: d[:named] ) %>
        <% end %>
  <% end %>

  <%= menu.join(" | ").html_safe %>
  </div>
</div>

<%= content_for :table_head do %>
  <%= render 'table_head' %>
<% end %>

<% if @grouped %>
  <%= render 'table' %>
<% else %>
  <%= render 'table_detail', has_error: @error %>
<% end %>

