<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <h3> 
      Verboice has reached warning condition: <%= @quota.percentage_condition %> %
    </h3>

    <p>
      <b> Server </b>
      <ul>
        <li>Name: <%= @quota.instance.name %></li>
        <li>Endpoint: <%= @quota.instance.end_point %></li>
      </ul>
    </p>

    <p>
      <b> Quota </b>
      <ul>
        <li>Account: <%= @quota.account_email %></li>
        <li>Channel: <%= @quota.channel_name %></li>
        <li>Total: <%= number_to_currency(@quota.total, precision: 2) %></li>
        <li>Used : <%= number_to_currency(@quota.used, precision: 2) %></li>
        <li>Condition: <%= @quota.percentage_condition %> % </li>
      </ul>
    </p>

    <p>Thanks from Verboice billing system</p>
  </body>


</html>