<%= page_title_with "Histories" %>
<%= action_bar "Quota Histories for:  #{@due_date.strftime("%b, %Y")}" do %>
  <%=  %>
  <div class="btn-group">
    <% 
      priv = (@due_date - 1.month).strftime("%Y-%m-%d")
      nxt  = (@due_date + 1.month).strftime("%Y-%m-%d")
    %>
    <%= link_to "<span class='icon-chevron-left'> </span>".html_safe,
                quota_histories_path(due_date: priv),
                class: 'btn',
                id: 'date-previous',
                title: priv %>

    <%= link_to "<span class='icon-chevron-right'> </span>".html_safe,
                quota_histories_path(due_date: nxt),
                class: 'btn',
                id: 'date-next',
                title: nxt %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>  
      <tr>
        <th>No</th>
        <th>Account</th>
        <th>Channel</th>
        <th>Total Quota</th>
        <th>Used Quota</th>
        <th>Alert Condition</th>
        <th>Over quota</th>
        <th>Enable Quota</th>
        <th>Channel Status</th>
        <th>Due date</th>
      </tr>
  </thead>

  <tbody>
    <% @quota_histories.each_with_index do |history, index| %>
      <tr>
        <td><%= page_index_for(@quota_histories, index) %></td>

        <td><%=history.account_email%></td>
        <td><%=history.channel_name%></td>
        <td><%= number_to_currency(history.total, unit: '$', precision: 2) %></td>
        <td><%= number_to_currency(history.used, unit: '$', precision: 2) %></td>
        <td><%=history.percentage_condition%> % </td>
        <td><%=history.block_if_reached_as_text %></td>
        <td><%=history.enabled_as_text %></td>
        <td><%=history.blocked_as_text %></td>
        <td><%=history.due_date.to_string %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @quota_histories, :theme => 'twitter-bootstrap' %>

