.form-horizontal .control-label {
  width: 240px !important;
}

.form-horizontal .controls {
  margin-left: 260px !important;
}

.item-list span {
  padding-left: 10px;
  color: gray;
}
.dotted-elm {
  border-bottom: 1px dotted #ccc; 
  font-size: 1.4em;
  padding: 10px;
}

.btn-submit {
  margin-left: 20px;
}

.header-bar {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 20px;
}

.header-bar .left {
  float: left;
}

.header-bar .title{
  font-size: 1.4em;
}

.header-bar .right {
  float: right;
  padding-top: 1em;
}

.form-signin {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 60px auto 20px auto;
  max-width: 600px;
  padding: 19px 29px 29px;
}

.action-2 {
  width: 160px;
}

.error{
  color: red;
}

.dropdown-menu{
  z-index: 999999 !important;
}

.min-input{
  width: 120px;
}

.address{
  font-weight: bold;
}

.body {
  margin-bottom: 40px;
}

.copyright{
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  display: block;
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.bold {
  font-weight: bold;
}

.w20 {
  width: 20px !important;
}

.tel {
  width: 120px;
}
