<%= simple_form_for(@call_rate, html: {class: 'form-horizontal' }) do |form| %>

 <%= form.input :account_id, collection: Service::Account.collection,
                             prompt: "--- Select account ---",
                             input_html: {id: "account_id_field" }

                             %>
 <%= form.input :channel_id, collection: Service::Channel.collection(@call_rate.account_id),
                             prompt: "--- Select channel ---",
                             input_html: {id: "channel_id_field"}
                             %>

 <%= form.input :channel_name, as: 'hidden', input_html: {id: "channel_name_field"} %>
 <%= form.input :account_email, as: 'hidden', input_html: {id: "account_email_field"} %>

 <%= form.input :prefix %>
 <%= form.input :round_rate, label: 'Round up (second)' %>
 <%= form.input :incoming_rate %>
 <%= form.input :outgoing_rate %>
 <%= form.input :note %>

  <%= submit_row do %>
    <%= form.submit "Save", class: 'btn btn-primary btn-submit' %>
  <% end %>
  
<% end %>
