<%= form_tag call_rates_path, :method => 'get' do %>
  <div class="left">
    <%= select_tag "account_id", options_for_select(Service::Account.collection, params[:account_id]), prompt: "--- All account ---" %>
    <%= select_tag "channel_id", options_for_select(Service::Channel.collection(params[:account_id]), params[:channel_id]), prompt: "--- All channel ---" %>
  </div>
  <div><%= submit_tag "Search", class: 'btn btn-primary btn-submit' %></div>
<% end %>

