<%= render 'search_form' %>

<%= page_title_with "List of Call rates" %>
<%= action_bar "List of Call rates" do %>
  <%= new_button "New", new_call_rate_path() %>
<% end %>

<table class="table table-striped">
  <thead>  
      <tr>
        <th>No</th>
        <th>Account</th>
        <th>Channel</th>
        <th>Prefix</th>
        <th>Round</th>
        <th>Incoming Rate</th>
        <th>Outcoming Rate</th>
        <th>Note</th>
        <th>Action</th>    
      </tr>
  </thead>

  <tbody>
    <% @call_rates.each_with_index do |call_rate, index| %>
      <tr>
        <td><%=link_to page_index_for(@call_rates, index), edit_call_rate_path(call_rate) %></td>
        <td><%=call_rate.account_email%></td>
        <td><%=call_rate.channel_name%></td>
        <td><%=call_rate.prefix%></td>
        <td><%=call_rate.round_rate%></td>
        <td><%=call_rate.incoming_rate%></td>
        <td><%=call_rate.outgoing_rate%></td>

        <td class='td-expandable' title='<%= call_rate.note %>'>
            <%=truncate(call_rate.note, length: 30)%>
        </td>

        <td class='action-2'>
          <%= edit_button 'Edit', edit_call_rate_path(call_rate),  class: 'btn btn-primary' %>
          <%= delete_button 'Delete', call_rate_path(call_rate), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this call rate" } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @call_rates, :theme => 'twitter-bootstrap' %>

