<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <%= link_to ENV['APP_NAME'], root_path, class: 'brand' %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li class="<%= active('traffics') %>" ><%= link_to "Traffics", traffics_path %></li>
          <li class="<%= active('call_rates') %>" ><%= link_to "Call Rates", call_rates_path %></li>
          <li class="<%= active('quotas') %>" ><%= link_to "Call Quota", quotas_path %></li>
          <li class="<%= active('quota_histories') %>" ><%= link_to "Quota Histories", quota_histories_path %></li>
          <li class="<%= active('channels') %>" ><%= link_to "Channels", channels_path %></li>
          <li class="<%= active('instances') %>" ><%= link_to "Instances", instances_path %></li>
        </ul>
        <%= render 'layouts/login_bar' %>
        
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>